.scroll-to-top {
  display: flex;
  justify-content: flex-end;
}
.scroll-to-top i {
  font-size: 3em;
  color: #ff1402;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.scroll-to-top i:hover {
  color: #cc1306;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .scroll-to-top i {
    font-size: 2em;
    right: 1px;
    bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .scroll-to-top i {
    font-size: 2em;
    right: 2px;
  }
}

@media screen and (min-width: 1700px) {
  .scroll-to-top i {
    font-size: 3em;
    right: 5px;
  }
}
