header {
  background-color: #d28e2e;
  background-image: url("../images/asfalt-light.png");
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

header h2 {
  font-weight: 300;
}

header strong {
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  header {
    width: 35vw;
    margin-top: 100px;
    margin-left: 50px;
  }
}
