nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

nav span {
  font-family: "Bungee", cursive;
  margin: 1.5em;
}

.right-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}
.right-nav h4 {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 5px;
}

.right-nav i {
  color: #fe1400;
  animation-name: bounce-1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
    margin-top: 0px;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
