.new-tweet {
  margin-top: 30px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  font-weight: 600;
}

.tweet-button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee", cursive;
  font-size: 0.8em;
  margin-top: 10px;
}

.tweet-button-area button {
  background-color: #394893;
  color: #ffffff;
  border: none;
  height: 25px;
}

#tweet-text {
  background-color: #f4f1ec;
  height: 50px;
  width: 800px;
  border: none;
  border-bottom: 3px solid #545149;
  font-size: 0.8em;
  padding: 5px;
}

.overLimit {
  color: #ff1200;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;

}

.error h3  {
  color: #ff1200;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  padding: 20px 40px;
  border: 3px #ff1200 solid;
}