.new-tweet {
  margin-bottom: 35px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  font-weight: 600;
}

.tweet-button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee", cursive;
  font-size: 0.8em;
  margin-top: 10px;
}

.tweet-button-area button {
  background-color: #394893;
  color: #ffffff;
  border: none;
  height: 30px;
  cursor: pointer;
}

.tweet-button-area button:hover {
  background-color: #1a1f44;
}

#tweet-text {
  background-color: #f4f1ec;
  height: 75px;
  width: 60vw;
  border: none;
  border: 1px solid #545149;
  border-bottom: 4px solid #545149;
  font-size: 0.8em;
  padding: 5px;
}

#tweet-text:focus {
  outline: none;
}

.overLimit {
  color: #ff1200;
}

.error {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error h3 {
  color: #ff1200;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
}
